.companies, .myshares, .leaderboard {
	table {
    @extend .trans-table;
  }
}

.companies {
  table {
    margin: 2%;
  }
}

.events {
  float: right;
  max-height: 300px;
  overflow-y: scroll;
  width: 25% !important;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 1.2em !important;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  @media screen and (max-width: 900px) {
    float: none;
    margin: 2% auto;
      margin-bottom: 0;
      width: 94% !important; 
  }
  table {
    @extend .trans-table;
    width: 100% !important;
    tbody{
      text-align: left;
      td {
        padding-left: 10px !important;
        padding-right: 10px !important;
        i {
          font-size: 1.5em;
        }
      }
    }
  }
}

.myshares, .leaderboard {
  table {
    margin: 2% auto;
  }
}


.graphs-container{
  overflow: hidden;
  .graphs {
    position: relative;
    .graph-container{
      display: inline-block;
      float: left;
      text-align:center;
      .go-premium {
        background-color: #64DD17;
        border: 1px solid #64DD17;
        color: white;
        margin-top: 40%;
        transition: all 0.5s;
        padding: 10px;
        &:hover {
          background-color: transparent;
          cursor: pointer;
        }
        button {
          width: 100%;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Modal (background) */
.modal-success, .modal-fail, .modal-form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    .modal-header {
      padding: 20px 16px;
      color: white;

      /* The Close Button */
      .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .modal-body {padding: 30px 16px;}

    .modal-footer {
      padding: 20px 16px;
      color: white;
    }
  }
}

.modal-success {
  .modal-content {
    .modal-header, .modal-footer {
      background-color: #5cb85c;
    }
  }
}

.modal-fail {
  .modal-content {
    .modal-header, .modal-footer {
      background-color: #f44336;
    }
  }
}

.modal-form {
  .modal-content {
    text-align: center;
    .modal-header, .modal-footer {
      background-color: $nav-bar-color;
    }
    .modal-body {
      input, button {
        padding: 10px;
      }
      button {
        border: 1px solid $nav-bar-color;
        background-color: $nav-bar-color;
        transition: all 0.5s;
        color: white;
        &:hover {
          background-color: transparent;
          color: $nav-bar-color;
          cursor: pointer;
        }
      }
    }
  }
}