header {
	@extend .translucent;
	padding: 20px 0;
	@media screen and (max-width: 850px) {
			text-align: center;
		}

	h1 {
		margin: 0;
		padding-left: 20px;
		display: inline-block;
		@media screen and (max-width: 850px) {
			width: 100%;
		}
		@media screen and (max-width: 400px) {
			font-size: 1.7em;
		}
		@media screen and (max-width: 350px) {
			font-size: 1.47em;
		}
	}

	.login-nav {
		float: right;
		@media screen and (max-width: 850px) {
			float: none;
			min-height: 40px;
		}
		span {
			float: left;
			padding: 0 5px;
			@media screen and (max-width: 480px) {
				float: none;
				width: 100%;
				display: inline-block;
			}
			button{
				border: 1px solid white;
				background-color: transparent;
				color: white;
				&:hover {
					background-color: white;
					color: $nav-bar-color;
					cursor: pointer;
				}
			}

			.err {
				color: red;
				margin: 0;
			}
		}
	}



	.nav-bar{
		float: right;
		height: $nav-bar-height;
		margin-top: -20px;
		ul {
			list-style: none;
			margin: 0;
			float: left;
			height: 100%;
			li {
				height: 100%;
				padding: 0 15px;
				color: white;
				display: inline-block;
				font-weight: bold;
				background-color: transparent;
				transition: all 0.5s;
				p{
					line-height: $nav-bar-height;
					margin: 0;
				}
				&:hover {
					background-color: white;
					color: $nav-bar-color;
					cursor: pointer;
				}
			}
		}
		#logout {
			float: left;
			margin: 0 15px;
			margin-top: 6%;
			border: 1px solid white;
			background-color: transparent;
			color: white;
			&:hover {
				background-color: white;
				color: $nav-bar-color;
				cursor: pointer;
				}
		}
	}
}