.home-content {
	@media screen and (max-width: 750px) {
		text-align: center;
	}
	form[name="signup"] {
		@extend .translucent;
		margin: 1.5%;
		padding: 10px;
		width: 40%;
		@media screen and (max-width: 750px) {
			width: 90%;
			margin: 1.5% auto;
			text-align: left;
		}
		input {
			width: 99%;
			margin: 0.5% 0;
			padding: 1% 0;
			&[type="radio"] {
				width: auto;
			}
			&[type="submit"] {
				border: 1px solid white;
				color: white;
				width: 100%;
				background-color: transparent;
				transition: all 0.5s;
				margin: 2% 0;
				&:hover {
					background-color: white;
					color: $nav-bar-color;
				}
			}
		}
		h2 {
			margin: 0;
			text-align: center;
		}
		h5 {
			margin: 0;
			font-weight: bolder;
		}
	}
	img {
		float: right;
		margin-top: 5%;
		margin-right: 6%;
		width: 45%;
		@media screen and (max-width: 1000px) {
			margin-top: 10%;
		}

		@media screen and (max-width: 800px) {
			margin-top: 15%;
		}
		@media screen and (max-width: 750px) {
			float: none;
			margin: 2% auto;
			width: 95%;
		}
	}
}