@import "variables";
@import "game";
@import "header";
@import "home";
@import "footer";
@import "dashboard";
@import "../font-awesome-4.6.3/scss/font-awesome"; 

body {
	background-image: url('../images/bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	font-family: 'open-sans-light', sans-serif;
}

.translucent {
	background-color: rgba(0,0,0,0.3);
	color: white;
}

.err {
	color: #F44336;
	margin: 0;
}