<img src="images/stock-art.jpg"/>
<form name="signup" method="post">
            <h2>Sign Up</h2>
            <h5>* are required fields</h5>
            First name*:<br>
            <input type="text" name="fname" required><br>
            Last name*:<br>
            <input type="text" name="lname" required><br>
            Email-id*:<br>
            <input type="email" name="eid" onkeyup="checkemail()" required><br>
            Username*:<br>
            <input type="text" name="uname" onkeyup="checkusername()" required><br>
            Password*:<br>
            <input type="password" name="pass" onkeyup="checkpass()" required><br>
            Re-enter Password*:<br>
            <input type="password" name="cpass" onkeyup="confirmpass()" required><br>
            Select Gender*:<br>
            <input type="radio" name="gender" value="male" checked>Male<br>
            <input type="radio" name="gender" value="female">Female<br>
            <input type="radio" name="gender" value="other">Other<br>
            Date of Birth*:<br>
            <input type="date" name="bday" required><br>
            <input type="submit" value="Sign Up" name="submit-signup"/>	
            <p class="err"><?=$error?></p>
</form>
