<div class="myshares">
</div>
<div id="modal-1" class="modal-success">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h2>Success</h2>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <h3>Virtual Stock Market!</h3>
        </div>
    </div>

</div>
<div id="modal-2" class="modal-fail">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h2>Error</h2>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <h3>Virtual Stock Market!</h3>
        </div>
    </div>

</div>